In [ ]:
#1. Write a Python program to find sum of elements in list?

In [ ]:
def find_sum_of_elements(input_list):
    # Using the built-in sum function to calculate the sum of elements in the list
    result_sum = sum(input_list)
    return result_sum

user_input = input("Enter a list of numbers separated by spaces: ")
numbers = [int(num) for num in user_input.split()]

sum_of_elements = find_sum_of_elements(numbers)

print("Sum of elements in the list:", sum_of_elements)

Enter a list of numbers separated by spaces: 1 2 3 4 5
Sum of elements in the list: 15

In [ ]:
#2. Write a Python program to Multiply all numbers in the list?

In [ ]:
l = [1,2,3,4,5]

mul = 1
for i in l:
    mul *= i

print(mul)

120

In [ ]:
#3. Write a Python program to find smallest number in a list?

In [ ]:
def is_smallest(numbers):
  smallest=numbers[0]
  for i in numbers:
    if i<smallest:
      smallest=i
  return smallest

In [ ]:
is_smallest([7,1,5,7,9])

1

In [ ]:
#4. Write a Python program to find largest number in a list?

In [ ]:
def is_largest(numbers):
  largest=numbers[0]
  for i in numbers:
    if i>largest:
      largest=i
  return largest

In [ ]:
is_largest([1,34,6,87])

87

In [ ]:
#5. Write a Python program to find second largest number in a list?

In [ ]:
l=[1,23,34,87]
l.sort(reverse=True)
print("sec largest :",l[1])

sec largest : 34

In [ ]:
#6. Write a Python program to find N largest elements from a list?

In [ ]:
def find_n_largest(numbers, n):
    if len(numbers) < n:
        return f"List should have at least {n} elements"

    sorted_numbers = sorted(numbers, reverse=True)
    n_largest_elements = sorted_numbers[:n]

    return n_largest_elements

# Example usage:
numbers_list = [4, 7, 2, 9, 1, 5]
n = 3  # Change this to the desired number of largest elements

result = find_n_largest(numbers_list, n)

if isinstance(result, list):
    print(f"The {n} largest elements in the list are: {result}")
else:
    print(result)

The 3 largest elements in the list are: [9, 7, 5]

In [ ]:
#7. Write a Python program to print even numbers in a list?

In [ ]:
def check_even(num):
  even_num=[i for i in num if i%2==0]
  if even_num:
    print("even num", even_num)
  else:
    print("no even nums present")

In [ ]:
check_even([2,3,4,5,6])

even num [2, 4, 6]

In [ ]:
#8. Write a Python program to print odd numbers in a List?

In [ ]:
def check_odd(num):
  odd_num=[i for i in num if i%2!=0]
  if odd_num:
    print("odd num", even_num)
  else:
    print("no odd nums present")

check_odd([2,4,6,8])

no odd nums present

In [ ]:
#9. Write a Python program to Remove empty List from List?

In [16]:
l = [[], 12, 31, [1,2, -23] , [1], [], [123.23], [], 2, 321]

result = []
for i in l:
    if type(i) == list:
        if len(i) != 0:
            result.append(i)
    else:
        result.append(i)

result

[12, 31, [1, 2, -23], [1], [123.23], 2, 321]

In [ ]:
#10. Write a Python program to Cloning or Copying a list?

In [17]:
list1 = [2,1, 31, 3, 412, 3, 4667, [2,3,1]]
list2 = []

for i in list1:
    list2.append(i)

print(list2)

[2, 1, 31, 3, 412, 3, 4667, [2, 3, 1]]

In [ ]:
#11. Write a Python program to Count occurrences of an element in a list?

In [18]:
l = [1,1,1, 3, 4, 1, 7, 8, 6,6,2,1]

def occurrences(lst, element):
    count = 0
    for i in lst:
        if i == element:
            count += 1

    return count
occurrences(l,6)

2